@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss';

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @keyframes slideImages {
    0% {
      transform: translateX(0%);
    }
    33% {
      transform: translateX(-100%);
    }
    66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .group:hover .animate-slideImages {
    animation: slideImages 6s infinite;
  }
  